p, .legendTitle, .label {
    font-family: sans-serif;
}

.country {
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.country:hover {
    fill: #D90429!important;
}

.hidden {
    display: none;
}

div.tooltip {
    background-color: #fff;
    padding: 5px 5px;
    text-shadow: #f5f5f5 0 1px 0;
    font: 14pt sans-serif;
    border: 1px solid;
    border-color: grey;
    border-radius: 8px;
    opacity: 0.95;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

div.tooltip h6 {
    margin: 0;
    color: #212121;
}

.legendTitle {
    font-size: 12pt;
    opacity: 0.8;
    text-transform: capitalize;
}

.label {
    font-size: 10pt;
    opacity: 0.8;
}

.legendBackground {
    fill: #ffffff!important;
}
